<% @tweets.each do |t| %>
    <p>
        <%= t.message %><%= link_to "削除", tweet_path(t), data: {turbo_method: :delete} %>
        <% if t.liked?(current_user) %>
            <%= link_to 'いいね削除', like_path(t), data: {turbo_method: :delete} %>
        <% else %>
            <%= link_to 'いいね', likes_path(tweet_id: t.id), data: {turbo_method: :post} %>
        <% end %>
    </p>
<% end %>

<%= form_tag '/tweets', {action: :create} do %>
    <%= label_tag :user_id, 'ユーザーID' %>
    <%= text_field_tag :user_id %>
    <%= label_tag :message, 'メッセージ' %>
    <%= text_field_tag :message %>
    <%= submit_tag 'ツイート' %>
<% end %>

<hr>
<% if current_user %>
    <p><%= link_to 'ログアウト', top_logout_path %></p>
<% else %>
    <p><%= link_to 'ログイン', top_main_path %></p>
<% end %>
<p>
    <%= link_to 'ユーザ一覧', users_path %>
</p>